@import "./normalize.css";

/* 伪类:root -- 获取根元素 -> 这里就等同于 html */
/* --large-szie //  css中定义变量的方式    调用该变量：font-size：var(--large-size) */
/* .vue中也可以调用这个变量 */
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.arrow-right {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  width: 9px;
  height: 9px;
  background-color: transparent;
  transform: rotate(135deg);
  display: inline-block;
  margin-left: .1rem;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?u3hkfd');
  src: url('../fonts/icomoon.eot?u3hkfd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u3hkfd') format('truetype'),
    url('../fonts/icomoon.woff?u3hkfd') format('woff'),
    url('../fonts/icomoon.svg?u3hkfd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
